In [18]:
%pip install -r requirements.txt

Requirement already satisfied: ipython-sql in /home/alex/Projects/python/jupyter/.venv/lib/python3.11/site-packages (from -r requirements.txt (line 1)) (0.5.0)
Requirement already satisfied: prettytable in /home/alex/Projects/python/jupyter/.venv/lib/python3.11/site-packages (from ipython-sql->-r requirements.txt (line 1)) (3.11.0)
Requirement already satisfied: ipython in /home/alex/Projects/python/jupyter/.venv/lib/python3.11/site-packages (from ipython-sql->-r requirements.txt (line 1)) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in /home/alex/Projects/python/jupyter/.venv/lib/python3.11/site-packages (from ipython-sql->-r requirements.txt (line 1)) (2.0.35)
Requirement already satisfied: sqlparse in /home/alex/Projects/python/jupyter/.venv/lib/python3.11/site-packages (from ipython-sql->-r requirements.txt (line 1)) (0.5.1)
Requirement already satisfied: six in /home/alex/Projects/python/jupyter/.venv/lib/python3.11/site-packages (from ipython-sql->-r requirements.txt (line 1)) (1.16.0)
Requirement already satisfied: ipython-genutils in /home/alex/Projects/python/jupyter/.venv/lib/python3.11/site-packages (from ipython-sql->-r requirements.txt (line 1)) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/alex/Projects/python/jupyter/.venv/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql->-r requirements.txt (line 1)) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /home/alex/Projects/python/jupyter/.venv/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql->-r requirements.txt (line 1)) (3.1.1)
Requirement already satisfied: decorator in /home/alex/Projects/python/jupyter/.venv/lib/python3.11/site-packages (from ipython->ipython-sql->-r requirements.txt (line 1)) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /home/alex/Projects/python/jupyter/.venv/lib/python3.11/site-packages (from ipython->ipython-sql->-r requirements.txt (line 1)) (0.19.1)
Requirement already satisfied: matplotlib-inline in /home/alex/Projects/python/jupyter/.venv/lib/python3.11/site-packages (from ipython->ipython-sql->-r requirements.txt (line 1)) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /home/alex/Projects/python/jupyter/.venv/lib/python3.11/site-packages (from ipython->ipython-sql->-r requirements.txt (line 1)) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in /home/alex/Projects/python/jupyter/.venv/lib/python3.11/site-packages (from ipython->ipython-sql->-r requirements.txt (line 1)) (2.18.0)
Requirement already satisfied: stack-data in /home/alex/Projects/python/jupyter/.venv/lib/python3.11/site-packages (from ipython->ipython-sql->-r requirements.txt (line 1)) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /home/alex/Projects/python/jupyter/.venv/lib/python3.11/site-packages (from ipython->ipython-sql->-r requirements.txt (line 1)) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /home/alex/Projects/python/jupyter/.venv/lib/python3.11/site-packages (from ipython->ipython-sql->-r requirements.txt (line 1)) (4.9.0)
Requirement already satisfied: wcwidth in /home/alex/Projects/python/jupyter/.venv/lib/python3.11/site-packages (from prettytable->ipython-sql->-r requirements.txt (line 1)) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /home/alex/Projects/python/jupyter/.venv/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql->-r requirements.txt (line 1)) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /home/alex/Projects/python/jupyter/.venv/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql->-r requirements.txt (line 1)) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /home/alex/Projects/python/jupyter/.venv/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql->-r requirements.txt (line 1)) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in /home/alex/Projects/python/jupyter/.venv/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql->-r requirements.txt (line 1)) (2.4.1)
Requirement already satisfied: pure-eval in /home/alex/Projects/python/jupyter/.venv/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql->-r requirements.txt (line 1)) (0.2.3)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [19]:
%load_ext sql
%sql sqlite:///store.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

![scheme](scheme.png)

In [20]:
%%sql
SELECT * FROM sqlite_master;

 * sqlite:///store.db
Done.

[('table', 'albums', 'albums', 2, 'CREATE TABLE "albums"\r\n(\r\n    [AlbumId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [Title] NVARCHAR(160)  NOT NULL,\r\n    [ArtistId] INTEGER  NOT NULL,\r\n    FOREIGN KEY ([ArtistId]) REFERENCES "artists" ([ArtistId]) \r\n\t\tON DELETE NO ACTION ON UPDATE NO ACTION\r\n)'),
 ('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'artists', 'artists', 4, 'CREATE TABLE "artists"\r\n(\r\n    [ArtistId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [Name] NVARCHAR(120)\r\n)'),
 ('table', 'genres', 'genres', 5, 'CREATE TABLE "genres"\r\n(\r\n    [GenreId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [Name] NVARCHAR(120)\r\n)'),
 ('table', 'invoice_items', 'invoice_items', 6, 'CREATE TABLE "invoice_items"\r\n(\r\n    [InvoiceLineId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [InvoiceId] INTEGER  NOT NULL,\r\n    [Tr ... (147 characters truncated) ... TE NO ACTION ON UPDATE NO ACTION,\r\n    FOREIGN KEY ([TrackId]) REFERENCES "tracks" ([TrackId]) \r\n\t\tON DELETE NO ACTION ON UPDATE NO ACTION\r\n)'),
 ('table', 'media_types', 'media_types', 9, 'CREATE TABLE "media_types"\r\n(\r\n    [MediaTypeId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [Name] NVARCHAR(120)\r\n)'),
 ('table', 'playlists', 'playlists', 10, 'CREATE TABLE "playlists"\r\n(\r\n    [PlaylistId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [Name] NVARCHAR(120)\r\n)'),
 ('table', 'playlist_track', 'playlist_track', 11, 'CREATE TABLE "playlist_track"\r\n(\r\n    [PlaylistId] INTEGER  NOT NULL,\r\n    [TrackId] INTEGER  NOT NULL,\r\n    CONSTRAINT [PK_PlaylistTrack] PR ... (125 characters truncated) ... TE NO ACTION ON UPDATE NO ACTION,\r\n    FOREIGN KEY ([TrackId]) REFERENCES "tracks" ([TrackId]) \r\n\t\tON DELETE NO ACTION ON UPDATE NO ACTION\r\n)'),
 ('index', 'sqlite_autoindex_playlist_track_1', 'playlist_track', 12, None),
 ('table', 'tracks', 'tracks', 14, 'CREATE TABLE "tracks"\r\n(\r\n    [TrackId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [Name] NVARCHAR(200)  NOT NULL,\r\n    [AlbumId] INTEG ... (382 characters truncated) ... ON UPDATE NO ACTION,\r\n    FOREIGN KEY ([MediaTypeId]) REFERENCES "media_types" ([MediaTypeId]) \r\n\t\tON DELETE NO ACTION ON UPDATE NO ACTION\r\n)'),
 ('table', 'invoices', 'invoices', 16, 'CREATE TABLE invoices (InvoiceId INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, CustomerId INTEGER NOT NULL, InvoiceDate DATETIME NOT NULL, BillingAddre ... (109 characters truncated) ... gPostalCode NVARCHAR (10), Total NUMERIC (10, 2), FOREIGN KEY (CustomerId) REFERENCES customers (CustomerId) ON DELETE NO ACTION ON UPDATE NO ACTION)'),
 ('table', 'customers', 'customers', 18, 'CREATE TABLE customers (CustomerId INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, FirstName NVARCHAR (40) NOT NULL, LastName NVARCHAR (20) NOT NULL, Com ... (167 characters truncated) ... l NVARCHAR (60) NOT NULL, SupportRepId INTEGER, FOREIGN KEY (SupportRepId) REFERENCES employees (EmployeeId) ON DELETE NO ACTION ON UPDATE NO ACTION)'),
 ('table', 'employees', 'employees', 19, 'CREATE TABLE employees (EmployeeId INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, LastName NVARCHAR (20) NOT NULL, FirstName NVARCHAR (20) NOT NULL, Tit ... (180 characters truncated) ... CHAR (24), ReportsTo INTEGER, Email NVARCHAR (60), FOREIGN KEY (ReportsTo) REFERENCES employees (EmployeeId) ON DELETE NO ACTION ON UPDATE NO ACTION)')]

## Задание 1
Вывести 5 самых больших по размеру (в байтах) треков жанра Blues и формата MPEG. Только название и размер.

In [21]:
%%sql

SELECT 
  name, 
  bytes 
FROM 
  tracks t 
WHERE 
  t.genreid = (
    SELECT 
      genreid 
    FROM 
      genres g 
    WHERE 
      g.name = "Blues"
  ) 
  AND t.mediatypeid = (
    SELECT 
      mediatypeid 
    FROM 
      media_types m 
    WHERE 
      m.name = "MPEG audio file"
  ) 
ORDER BY 
  t.bytes DESC 
LIMIT 
  5;

 * sqlite:///store.db
Done.

[('Old Love', 15780747),
 ('Running On Faith', 12536275),
 ('Lonely Stranger', 10894406),
 ('Layla', 9490542),
 ('Tears In Heaven', 9032835)]

## Задание 2
Вывести названия всех треков и их исполнителей для всех треков жанра Rock, приобретенных сотрудниками Oracle.

In [22]:
%%sql

SELECT 
  name, 
  (
    SELECT 
      name 
    FROM 
      artists a 
    WHERE 
      a.artistid = (
        SELECT 
          artistid 
        FROM 
          albums al 
        WHERE 
          al.albumid = t.albumid
      )
  ) artist
FROM 
  tracks t 
WHERE 
  t.genreid = (
    SELECT 
      genreid 
    FROM 
      genres g 
    WHERE 
      g.name = "Rock"
  ) 
  AND t.trackid IN (
    SELECT 
      trackid 
    FROM 
      invoice_items ii 
    WHERE 
      ii.invoiceid IN (
        SELECT 
          invoiceid 
        FROM 
          invoices i 
        WHERE 
          i.customerid IN (
            SELECT 
              customerid 
            FROM 
              customers c 
            WHERE 
              c.company = "Oracle"
          )
      )
  );

 * sqlite:///store.db
Done.

[('A Kind Of Magic', 'Queen'),
 ('I Want To Break Free', 'Queen'),
 ('Who Wants To Live Forever', 'Queen'),
 ('The Invisible Man', 'Queen'),
 ('Bad Moon Rising', 'Creedence Clearwater Revival'),
 ('Down On The Corner', 'Creedence Clearwater Revival'),
 ('Up Around The Bend', 'Creedence Clearwater Revival'),
 ("That's The Way", 'Led Zeppelin'),
 ('Ten Years Gone', 'Led Zeppelin'),
 ('Achilles Last Stand', 'Led Zeppelin'),
 ('Tea For One', 'Led Zeppelin'),
 ('No Quarter', 'Led Zeppelin'),
 ('Nothing To Say', 'Soundgarden'),
 ('The Three Sunrises', 'U2'),
 ('Sweetest Thing', 'U2'),
 ('Sunday Bloody Sunday', 'U2'),
 ("New Year's Day", 'U2')]

## Задание 3
Для каждой компании вывести общее количество купленных джазовых композиций (если 0, можно не выводить).

In [23]:
%%sql

SELECT 
  c.company, 
  COUNT(t.trackid) jazz_tracks 
FROM 
  tracks t 
  LEFT JOIN genres g ON t.genreid = g.genreid 
  LEFT JOIN invoice_items ii ON t.trackid = ii.trackid 
  LEFT JOIN invoices i ON ii.invoiceid = i.invoiceid 
  LEFT JOIN customers c ON i.customerid = c.customerid 
WHERE 
  g.name = "Jazz" 
  AND c.company IS NOT NULL 
GROUP BY 
  c.company 
HAVING 
  jazz_tracks > 0;

 * sqlite:///store.db
Done.

[('Apple Inc.', 2),
 ('BMW', 1),
 ('Google Inc.', 12),
 ('JetBrains s.r.o.', 3),
 ('Microsoft Corporation', 15),
 ('Oracle', 3),
 ('SAP', 1),
 ('Telus', 2)]

## Задание 4
Вывести топ 3 плейлиста по продолжительности (продолжительность плейлиста = сумма длин треков в нём). Только название и продолжительность (в часах).

In [24]:
%%sql

SELECT 
  name, 
  (
    SELECT 
      SUM(milliseconds) 
    FROM 
      tracks t 
    WHERE 
      t.trackid IN (
        SELECT 
          trackid 
        FROM 
          playlist_track pt 
        WHERE 
          pt.playlistid = p.playlistid
      )
  ) / 1000 / 3600 duration 
FROM 
  playlists p 
WHERE 
  duration > 0
ORDER BY 
  duration DESC 
LIMIT 
  3;

 * sqlite:///store.db
Done.

[('From That TV Show', 138), ('Hidden Gems', 138), ('90’s Music', 10)]

## Задание 5
Для каждого набора (жанр, тип медиа) вывести количество треков в них, причем вывести только те наборы, для которых **все** треки стоят больше 1$ и для которых в наборе есть хотя бы один трек.

In [53]:
%%sql

WITH joined_tracks AS (
  SELECT 
    trackid, 
    unitprice price, 
    g.name genre, 
    mt.name filetype 
  FROM 
    tracks t 
    LEFT JOIN genres g ON t.genreid = g.genreid 
    LEFT JOIN media_types mt ON t.mediatypeid = mt.mediatypeid
) 
SELECT 
  genre, 
  filetype, 
  COUNT(trackid) tracks 
FROM 
  joined_tracks 
GROUP BY 
  genre, filetype
HAVING
  MIN(price) > 1 AND tracks > 0;

 * sqlite:///store.db
Done.

[('Blues', 'AAC audio file', 9),
 ('Comedy', 'MPEG audio file', 17),
 ('Sci Fi & Fantasy', 'MPEG audio file', 26),
 ('Science Fiction', 'MPEG audio file', 13),
 ('TV Shows', 'MPEG audio file', 93)]